[Unit]
Description=Traefik Provider for Podman
Requires=podman.service
After=podman.service

[Service]
Delegate=true
Type=exec
KillMode=process
ExecStart=/usr/bin/traefik-watch
Environment="DOCKER_HOST=unix://%t/podman/podman.sock"

[Install]
WantedBy=default.target
